
*.log

*.bin

UnityOne/UserSettings/

UnityOne/Temp/

UnityOne/ProjectSettings/

UnityOne/Library/

.DS_Store

AR-One/Temp/

AR-One/UserSettings/

AR-One/ProjectSettings/

AR-One/Library/

AR-One/QCAR/
