
*.log

*.bin

UnityOne/UserSettings/

UnityOne/Temp/

UnityOne/ProjectSettings/

UnityOne/Library/

.DS_Store

AR-One/Temp/

AR-One/UserSettings/

AR-One/ProjectSettings/

AR-One/Library/

AR-One/QCAR/

AR-GreetingCard/Temp/

AR-GreetingCard/ProjectSettings/

AR-GreetingCard/UserSettings/

AR-GreetingCard/Library/

AR-GreetingCard/QCAR/

AR-VirtualButton/Temp/

AR-VirtualButton/UserSettings/

AR-VirtualButton/ProjectSettings/

AR-VirtualButton/Library/
